<% include header %>
<form method="POST" action="/user/create">
    <table id="login">
        <tr><td>Name:</td>
            <td><input type="text" id="Name" name="Name" /></td>
        </tr>
        <tr><td>Email:</td>
            <td><input type="text" id="email" name="email" /></td>
        </tr>
        <tr><td>Password:</td>
            <td><input type="password" id="password" name="password" /></td>
        </tr>
    </table>
    <input type="submit">
</form>
<% include footer %>
