        </div>
        <footer>
            <% if(typeof hideBackLink === 'undefined' || hideBackLink == false) { %>
                <a href="/"><< Back</a>
            <% } %>
            <div id="footer">
            <h2><%= locals.settings.subtitle %></h2>
            </div>
        </footer>
    </body>
</html>
