<!DOCTYPE HTML>
<html>
<head>
    <title>Scrum Board</title>
    <link href="/lab16.css" rel="stylesheet" />
</head>
<body>
    <div id="header">
        <h1>Scrum Board</h1>
    </div>
<div id="content">
