<% include header %>

            <ul>
                <li><a href="/user/create">Create User</a></li>
                <li><a href="/user/all">List Users</a></li>
            </ul>


<% var hideBackLink = true; %>
<% include footer %>
