<!DOCTYPE HTML>
<html>
<head>
    <title>Simple NodeJS Application</title>
</head>
<body>
<h1>Simple NodeJS Application</h1>
<div id="content">
    Hello, World!
</div>
<footer>
    The footer.
</footer>
</body>
</html>